.N-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display:  flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  z-index: 10;
  pointer-events: none;

}